PCB/getting-started/getting-started.csv
PCB/getting-started/getting-started.kicad_pcb
PCB/getting-started/getting-started.kicad_prl
PCB/getting-started/getting-started.kicad_pro
PCB/getting-started/getting-started.kicad_sch
PCB/getting-started/getting-started.xml
PCB/getting-started/getting-started-backups/getting-started-2025-06-19_081644.zip
PCB/getting-started/getting-started-backups/getting-started-2025-06-19_082929.zip
PCB/getting-started/getting-started-backups/getting-started-2025-06-19_201251.zip
